.news-title {
  .card-title{
    color: @dark-color;
    font-weight: normal;
    text-transform: unset;
    * {
      color: @dark-color;
    }
  }

  .single-new-title{
    line-height: 1.3em;
    .breakpoint-small-down({
      font-size: 33px!important;
      margin-top: 40px;
    });
  }
}




.news-container .row{
  display: none;
}

.info{
  color: @dark-color;
  font-size: 17px;
  a{
    color: @dark-color;
  }
}

.newslist .col-xs-12:first-child{
  display: flex;
  justify-content: space-between;

  .card-title{
    color: @green-color;
    font-size: 22px;
    line-height: 1.5em;
    font-weight: 600;
  }

  .card-title:hover{
    opacity: 0.7;
  }



  .news-item{
    flex-basis: 32%!important;
    max-width: 32%!important;
    padding: 0px;
     .news_column{
       background: @white-color;
       display: block;
       .rounded(5px);
       box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
       img{
         width: 100% !important;
         //height: 235px;
         object-fit: cover;
       }

       .news-image{
         padding: 0;
         //height: 235px;
       }

       .text-published{
         color: @link-color;
       }

       .news-container{
         padding: 20px 25px;
         height: 200px
       }

     }

    .news_column:hover{
      box-shadow: none;
    }
   }
}

.news-img-top{
  .rounded-tl(5px);
  .rounded-tr(5px);
  display: inline-flex;
}

