html,body {
    font-family: @font-family, Arial, sans-serif;
    background-color: @background-color;
    color: @text-color-default;
    font-weight: normal;
    .font-size();
    .line-height();
    .letter-spacing();
}

a {
    &.no-color{
      color: @green-color;
    }
    .text-link;
}

ul{
  list-style-type: disc;
  padding-left: 20px;
}

ol.q {list-style-type: upper-roman; padding-left: 20px;}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .title, .head{
  font-family: Oswald;
  color: @secondary-btn-color;
  font-weight: 600;
  text-transform: uppercase;
}

.head{
  color: @white-color;
}



.header-image {
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    color: @white-color;
  justify-content: left;
  vertical-align: center;

    .header-image-bar {
        width: 100%;
        //height: 424px;
        background-size: cover;
        background-position: center;
        //background-position-y: 31px!important;

        .breakpoint-small-down({
          //background: url("../../../../storage/app/media/mobile-image.png")!important;
          //background-size: 100%!important;
          //background-position: center!important;
          //background-position-y: 80px!important;
        });
        .breakpoint-laptop-down({
          //height: 560px;
        });

    }

    h1 {
        &.underline {
            padding-left: 1rem;
            padding-right: 1rem;
            margin-bottom: 50px;
            font-size: 52px;
            line-height: 52px;
            color: @white-color;
            //width: 1146px;
            //text-align: center;
            &.home-page-header{
              font-size: 83px;
              font-family: 'Oswald';
              font-weight: 600;
              .breakpoint-small-down({
                  font-size: 83px;
              });
              .breakpoint-huge-down({
                width: auto!important;
              });
            }
          .breakpoint-small-down({
              width: 85%;
              //padding-left: 20px;
              padding-right: 20px;
              padding-bottom: 35px;
              line-height: 47px!important;
          });
        }
    }

    .jumbotron{
      //margin-top: 120px;
      max-width: 35%;
      padding: 0 100px;

      .breakpoint-small-down({
          max-width: 70%;
      });
      p{
        font-size: 37px;
        line-height: 54px;
        padding-left: 20px;
        margin-top: 10px;
      }
    }




    &.home {
        .header-image-bar {
            height: 100vh;
            //.breakpoint-laptop-down({
            //  height: 560px;
            //});
        }
        h1 {
            &.underline {
                border-bottom: none;
            }
        }
    }

    .breakpoint-large({
        &> img {
            width: 100%;
            max-width: 100%;
        }
    });
}

#layout-content {
    padding-top: @padding-base-space * 0;
    padding-bottom: @padding-base-space * 0;

    .breakpoint-small-down ({
        .slick-next, .slick-prev {
            display: none !important;
        }
    })
}

#layout-footer {

    .container-fluid {
        &.black-background {
          background: @black-color;
          font-size: 16px!important;
          padding: 20px 0;
          a{
            color: @white-color;
          }
        }
        &.dark-background {
          background: @dark-color;

          .footer-menu{
            list-style-type: none;
            padding: 0;
            margin: 20px 0;


            a{
              color: @primary-color!important;
              line-height: 1.7em;
              font-weight: 600;
            }
          }

        }
    }

    .funding {
        display: flex;
        flex: 1 1 14%;
        color: @footer-text-color;
        font-size: 14px!important;
    }
    .powered-by {
        display: flex;
        flex: 1 0 auto;
        justify-content: center;
        color: @footer-text-color;
        font-size: 14px!important;
        white-space: nowrap;
        .breakpoint-small-down ({
          font-size: 12px!important;

        })
    }
    .social-networks {
        flex: 1 0 auto;
    }
}

.bd-example {
    position: relative;
    padding: @padding-base-space;
    margin: @margin-base-space -@margin-base-space;
    border: solid #f8f9fa;
    border-width: @border-line-width * 2;
}
.highlight {
    background-color: #f8f9fa;
    padding: @padding-base-space;

    .pre {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        background-color: transparent;
        border: 0;
        overflow: auto;

        .code {
            font-size: inherit;
            color: #212529;
            word-break: normal;
        }
    }
}
.container-fluid {
    &.banner {
        margin-top: @margin-base-space-home * 3;
        margin-bottom: @margin-base-space-home * 3;
        padding-left: 0px;
        padding-right: 0px;
    }
}
.share {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.twitter-widget {
    max-height: 520px;
    max-width: 710px;
    width: 710px;
    margin-top: 30px;
    overflow-y: scroll;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

//.social-media-container{
//  margin-left: 30px;
//  max-width: 50%;
//}
.subscribe-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 550px;
    justify-content: space-between;

  .homepage-funding{
    color: @dark-color;
    .col-xs-1{
      min-width: fit-content;
      margin-right: 0px;
    }
  }
}

//.subscribe-items + .subscribe-items {
//    padding-top: 1rem;
//}
.subscribe-items {
  margin-top: 30px;
  a{
    margin-right: 20px;
  }
}

.content_static_list{
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-top: @margin-base-space * 4;
  justify-content: space-between;
}

.content_static_list img{
  width: 88%;
}

.download-icon{
  background: url(../../assets/images/download.svg) bottom left no-repeat;
  background-size: 14px;
  padding-left: 20px;
  color: #3daae9;
  font-size: 15px;
}

.ui-widget-content{
  border: none!important;
  background: none!important;
  color: unset!important;
}

.funded_by{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.funded_by img{
  margin: 10px;
  display: inline-flex;
}

.funded_by img:nth-of-type(1){
  //max-height: 50px;
  max-width: 105px;
  margin: 10px 10px 10px 0!important;
}
.funded_by img:nth-of-type(2){
  //max-height: 80px;
  max-width: 166px;
}
.funded_by img:nth-of-type(3){
  //max-height: 120px;
  max-width: 225px;
}
.funded_by img:nth-of-type(4){
  //max-height: 100px;
  max-width: 186px;
}

.funded_by img:nth-of-type(5){
  max-width: 320px;
  margin: 10px 0px 10px 10!important;
}

.homepage_intro{
  width: 100%;
  justify-content: space-between;
}
.homepage_intro .cards div{
  width: 85%;
  .breakpoint-small-down({
      margin: 30px auto;
  });
}

.homepage_intro .cards h2{
}

.home{
  .col-sm-6.col-xs-12{
    padding: 0;
  }
}

.project_background{
  background: url(../../../../storage/app/media/pensoft/about/image-about.jpg) bottom left no-repeat;
  background-size: cover;
  color: @white-color;
}

.project_background p{
  color: @white-color;
}
.project_background h1{
  color: @green-color;
}
.project_background .card{
  padding: 2rem;
}
.project_background .card-img{
    width: 45%;
}

footer .align-items-center{
  .breakpoint-small-down({
    text-align: center!important;
  });
}

