url = "/media-center"
layout = "default"
title = "Media center"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<?php
use Pensoft\Media\Models\MediaLogos;
use Pensoft\Media\Models\Flyers;
use Pensoft\Media\Models\Newsletters;
use Pensoft\Media\Models\Presentations;
use Pensoft\Media\Models\Pressreleases;
use Pensoft\Media\Models\Videos;
use Pensoft\Media\Models\Graphic;

function onStart(){
	$this['logos'] =  MediaLogos::get();
	$this['flyers'] =  Flyers::get();
	$this['newsletters'] =  Newsletters::get();
	$this['presentations'] =  Presentations::get();
	$this['pressreleases'] =  Pressreleases::get();
	$this['videos'] =  Videos::get();
	$this['graphics'] =  Graphic::get();
}
?>
==
<section class="container-fluid" aria-label="Media center">
    <div class="container">
        <h1 class="page_heading ml-1">Media center</h1>
    </div>
    <div class="container media-container">

        <nav class="media-menu" aria-label="Media categories">

            <div class="row d-flex justify-content-around">
                {% if pressreleases.count() %}
                <div class="col-sm-2 col-xs-12 press-releases-section">
                    <div class="card-container text-center">
                        <a href="{{url('media-center')}}/press-releases" aria-label="Press releases">
                            <span class="card_image_container" style="background: url({{'pensoft/press_releases.svg'|media}}) center center no-repeat;" role="img" aria-label="Press releases icon"></span>
                            <span class="media_label">Press releases</span>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% if videos.count() %}
                <div class="col-sm-2 col-xs-12 video-section">
                    <div class="card-container text-center">
                        <a href="{{url('media-center')}}/videos" aria-label="Videos">
                            <span class="card_image_container" style="background: url({{'pensoft/videos.svg'|media}}) center center no-repeat;" role="img" aria-label="Videos icon"></span>
                            <span class="media_label">Videos</span>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="row d-flex justify-content-between">
                {% if flyers.count() %}
                <div class="col-sm-2 col-xs-12 promotional-materials-section">
                    <div class="card-container text-center">
                        <a href="{{url('media-center')}}/flyer" aria-label="Promotional materials">
                            <span class="card_image_container" style="background: url({{'pensoft/promotional-materials.svg'|media}}) center center no-repeat;" role="img" aria-label="Promotional materials icon"></span>
                            <span class="media_label">Promotional materials</span>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% if logos.count() %}
                <div class="col-sm-2 col-xs-12 brand-kit-section">
                    <div class="card-container text-center">
                        <a href="{{url('media-center')}}/brand-kit" aria-label="Brand Kit">
                     <span class="outer-circle">
                        <span class="card_image_container" role="img" aria-label="Brand Kit icon">
                           <span class="media_label">Brand Kit</span>
                        </span>
                     </span>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% if newsletters.count() %}
                <div class="col-sm-2 col-xs-12 newsletters-section">
                    <div class="card-container text-center">
                        <a href="{{url('media-center')}}/newsletters" aria-label="Newsletters">
                            <span class="card_image_container" style="background: url({{'pensoft/newsletters.svg'|media}}) center center no-repeat;" role="img" aria-label="Newsletters icon"></span>
                            <span class="media_label">Newsletters</span>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="row d-flex justify-content-around">
                {% if presentations.count() %}
                <div class="col-sm-2 col-xs-12 fact-sheets-section">
                    <div class="card-container text-center">
                        <a href="{{url('media-center')}}/fact-sheets" aria-label="Pilot Site Factsheets">
                            <span class="card_image_container" style="background: url({{'pensoft/factsheets.svg'|media}}) center center no-repeat;" role="img" aria-label="Pilot Site Factsheets icon"></span>
                            <span class="media_label">Pilot Site Factsheets</span>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% if graphics.count() %}
                <div class="col-sm-2 col-xs-12 policy-briefs-section">
                    <div class="card-container text-center">
                        <a href="{{url('media-center')}}/policy-briefs" aria-label="Policy briefs">
                            <span class="card_image_container" style="background: url({{'pensoft/policy_briefs.svg'|media}}) center center no-repeat;" role="img" aria-label="Policy briefs icon"></span>
                            <span class="media_label">Policy briefs</span>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </nav>

    </div>

</section>
